.prices-row {
    float: right;
}
.prices-row > div {
    border-right: 1px solid #c9c9c9;
    border-left: 0;
}
.product-details-page .prices-row:first-child > div {
    border-left: 0;
} 

/* footable custom css */

.footable-row-detail,
.footable-row-detail-cell {
	text-align: right !important;
}
.footable-row-detail-name {
	padding: 0 0 5px 15px;
}